# Auto detect text files and perform LF normalization
* text=auto
TapMobileGame/Assets/TextMesh[[:space:]]Pro/Resources/Fonts[[:space:]]&[[:space:]]Materials/LilitaOne-Regular[[:space:]]SDF.asset filter=lfs diff=lfs merge=lfs -text
